


.image-wrapper {
  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease;
  }
  
  .fade-enter-from, .fade-leave-to, .fade-enter {
    opacity: 0;
  }

  overflow: hidden;
  position: relative;
  display: inline-block;



  .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
  }

  .image-placeholder-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    .image-placeholder {
      top: 0;
    }
    img {
      filter: blur(10px);
      width: 100%;
      height: 100%;
    }
  }

  .image {
    top: 0;
  }
    
  img {
    width: 100%;
    height: 100%;
    transition: opacity;
    vertical-align: bottom;
  }
  img.has-webgl-filter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  img[srcset=""] { visibility: hidden; opacity: 0;}
  img.placeholder-loaded {
    opacity: 1 !important;

  }
  img.image-loaded {
    opacity: 1 !important;
  }
  canvas {
    vertical-align: bottom;
  }
}
