


:global(.vue-awesome-image) {
  :global(.fade-enter-active), :global(.fade-leave-active) {
    transition: opacity 1s ease;
  }
  
  :global(.fade-enter-from), :global(.fade-leave-to), :global(.fade-enter) {
    opacity: 0;
  }

  // overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;



  .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
  }

  .image-placeholder-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    .image-placeholder {
      position: relative;
      &.placeholder-loaded {
        &.has-webgl-filter {
          opacity: 0 !important;
        }
      }
    }
    img {
      filter: blur(10px);
      width: 100%;
      height: 100%;
    }
  }

  .image {
    position: relative;
  }
    
  img {
    width: 100%;
    height: auto;
    transition: opacity;
    vertical-align: bottom;
  }
  img.has-webgl-filter.image-loaded {
    position: absolute;
    opacity: 0 !important;
    left: 0;
    top: 0;
    z-index: -1;
  }
  img[srcset=""] { visibility: hidden; opacity: 0;}
  img.placeholder-loaded {
    opacity: 1 !important;
  }
  img.image-loaded {
    opacity: 1 !important;
  }
  canvas {
    vertical-align: bottom;
  }
}
